<div class="row footer">
  <div class="small-12 medium-12 large-12 columns clearfix">
	  <a href="{site_url}"><img src="{site_url}images/basic_images/logo_radio_urbe.png"></a>
  </div>
</div>  
    
    
    <script src="{site_url}js/jquery.js"></script>
    <script src="{site_url}js/foundation.min.js"></script>
    <script src="{site_url}js/foundation/foundation.topbar.js"></script>
    <script src="{site_url}js/foundation/foundation.orbit.js"></script>
    <script src="{site_url}js/foundation/jquery.jcarousel.min.js"></script>
    <script src="{site_url}js/foundation/jcarousel.responsive.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=hermanmarin"></script>
    
  </body>
</html>