		<footer id="footer">
			<div class="row footer-top">
				<div class="large-6 columns large-centered text-center">
					<div class="footer-first">
							<img src="images/contra-la-violencia/footer-image.png" alt="">
							<div>
								<span class="orange">Ayúdanos</span> a hacer público el acoso callejero<span class="orange"></span>
							</div>
					</div>
				</div>
				<div class="large-7 columns large-centered text-center">
					<div class="footer-second">
						<div>si has sufrido de acoso callejero</div>
						<div><a href="#" class="main-button large" data-reveal-id="modalForm">Comparte tu caso</a></div>
						<div id="modalForm" class="reveal-modal" data-reveal>
							{embed="includes/form-contra-el-acoso"}
						  <a class="close-reveal-modal">&#215;</a>
						</div>
						<div><span class="orange">es anónimo</span></div>
					</div>
				</div>
				<div>
					<div class="footer-third">
					</div>
				</div>
			</div>
			<script src="js/vendor/jquery.js"></script>
			<script src="js/foundation.min.js"></script>
			<script src="js/foundation/foundation.topbar.js"></script>
			<script src="js/foundation/foundation.magellan.js"></script>
			<script>
		    $(document).foundation();
		  </script>
	  	<!--ANALYTICS-->
			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-47123007-1']);
				_gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
				ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
			<!-- Facebook Conversion Code for Chat 100 -->
			<script>(function() {
			var _fbq = window._fbq || (window._fbq = []);
			if (!_fbq.loaded) {
			var fbds = document.createElement('script');
			fbds.async = true;
			fbds.src = '//connect.facebook.net/en_US/fbds.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(fbds, s);
			_fbq.loaded = true;
			}
			})();
			window._fbq = window._fbq || [];
			window._fbq.push(['track', '6015356965861', {'value':'0.01','currency':'PEN'}]);
			</script>
			<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6015356965861&amp;cd[value]=0.01&amp;cd[currency]=PEN&amp;noscript=1" /></noscript>
		</footer>	
	</body>
</html>