				  		{exp:freeform:form 
				  			form:data-abide="" 
								required="agresor|motivo" 
								return="contra-el-acoso/gracias" 
								form_id="3" 
							}
				  			<h2 class="form-title">Comparte tu caso y haz valer tus derechos como mujer</h2>
							  <div class="row">
							    <div class="large-12 columns">
							      <div class="row">
							        <div class="large-4 columns">
							          <label for="motivo" class="right inline"><small>*</small>Motivo</label>
							        </div>
							        <div class="large-6 columns end">
								        <select id="motivo" name="motivo">
								          <option selected>Selecciona una opción</option>
								          <option value="violencia_fisica">Violencia física</option>
								          <option value="violencia_psicologica">Violencia psicológica</option>
								          <option value="abuso_sexual">Abuso sexual</option>
								        </select>
								        <small class="error">Este campo es requerido.</small>
							        </div>
							      </div>
							    </div>
							  </div>
							  <div class="row">
							    <div class="large-12 columns">
							      <div class="row">
							        <div class="large-4 columns">
							          <label for="agresor" class="right inline"><small>*</small>Agresor</label>
							        </div>
							        <div class="large-6 columns end">
								        <select id="agresor" name="agresor">
								        	<option selected>Selecciona una opción</option>
								          <option value="conyuge/conviviente">Conyuge/Conviviente</option>
								          <option value="padre/madre">Padre/Madre</option>
								          <option value="exconyuge/exconviviente">Exconyuge/Exconviviente</option>
								        </select>
								        <small class="error">Este campo es requerido.</small>
							        </div>
							      </div>
							    </div>
							  </div>
							  <div class="row">
							    <div class="large-12 columns">
							      <div class="row">
							        <div class="large-4 columns">
							          <label for="edad" class="right inline">Tu edad</label>
							        </div>
							        <div class="large-6 columns end">
											  <input type="text" id="edad" name="edad" placeholder="18">
							        </div>
							      </div>
							    </div>
							  </div>
							  <div class="row">
							    <div class="large-12 columns">
							      <div class="row">
							        <div class="large-4 columns">
							          <label for="direccion" class="right inline">Tu dirección</label>
							        </div>
							        <div class="large-6 columns end">
											  <input type="text" id="direccion" name="direccion" placeholder="Trinidad Moran 990, Lince - Lima">
							        </div>
							      </div>
							    </div>
							  </div>
							  <div class="row">
							    <div class="large-12 columns">
							      <div class="row">
							        <div class="large-9 large-offset-4 columns end">
											  <input type="submit" value="Enviar" class="main-button">
							        </div>
							      </div>
							    </div>
							  </div>
							{/exp:freeform:form}  