<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="google-site-verification" content="V1cn2dWmHajvnam0e_Nmf7hqmqWE_YZReg4Tta56eRA" />
		<title>Contra La Violencia | RadioUrbe</title>
		<link rel="stylesheet" href="{site_url}css/normalize.css">
		<link rel="stylesheet" href="{site_url}css/foundation.css">
		<link rel="stylesheet" href="{site_url}css/custom-contra-la-violencia.css">
		<script src="{site_url}js/modernizr.js"></script>
		<script type="text/javascript" src="//use.typekit.net/yfg8sfb.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>

		