<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RadioUrbe</title>
    <link rel="stylesheet" href="{site_url}css/foundation.css" />
    <link rel="stylesheet" href="{site_url}css/custom.css" />
    <script src="{site_url}js/modernizr.js"></script>
  </head>
  <body>
  
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="{site_url}"><img src="{site_url}images/basic_images/logo_radio_urbe.png"></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-form"><a href="http://foundation.zurb.com/docs" class="button alert small" data-reveal-id="myModal">EN VIVO <img src="{site_url}images/basic_images/on_air.png"></a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="right">
      <li><a href="#" class="active">QUIENES SOMOS</a></li>
      <li><a href="#" class="active">PROGRAMACIÓN</a></li>
      <li><a href="#" class="active">ERES UN LIDERMAN</a></li>
    </ul>   
  </section>
</nav>  
  
  