<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/foundation.css">
		<link rel="stylesheet" href="css/custom-contra-el-acoso.css">
		<script type="text/javascript" src="//use.typekit.net/yfg8sfb.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<header class="text-center">
	    <nav class="top-bar" data-topbar="" style="">
		    <section class="top-bar-section">
			    <ul class="">
			      <li class="liderman"><a href="#"></a></li>
			      <li class="urbe"><a href="#"></a></li>
			      <li class="ministerio"><a href="#"></a></li>
			    </ul>
	      </section>
	    </nav>
			<div class="main-text"><div class="orange big-text">35,000</div> <span class="white">mujeres sufren de </span><span class="orange">violencia</span></div>
			<div class="second-text white">el primer paso<br> para terminar con esto es</div>
			<!-- <button>reconocerlo</button> -->
			<div><a href="#footer"  class="main-button">reconocerlo</a></div>
			<div class="bottom-text white">datos estadisticos de consultas atendidas en el periodo de Enero - Abril 2014</div>
			<img src="images/contra-el-acoso/foto_small.png" alt="">
		</header>
		