<div class="row">
  	<div class="small-12 medium-12 large-12 columns lateral-margenes-bajo">
			<a href="listing.html">
				<iframe scrolling="No" frameborder="0" height="280" src="http://www.wklivehost.info/playersjw/radiourbe/radiourbe.html" width="100%"> Texto alternativo para navegadores que no aceptan iframes </iframe>
			</a>
			{if segment_1!='content'}
				<div class="chatea-frase show-for-medium-down">
					<div class="row">
						<div class="small-8 medium-8 large-9 columns">
							<ul class="inline-list chatear-opciones-celular">
								<li><a href="rtsp://184.154.28.210/radiourberadio/default.stream ">Android</a></li>
								<li><a href="http://184.154.28.210:1935/radiourberadio/default.stream/playlist.m3u8">iPhone</a></li>
								<li><a href="http://184.154.28.210:1935/radiourberadio/default.stream/playlist.m3u8">iPad</a></li>
								<li><a href="rtsp://184.154.28.210/radiourberadio/default.stream">Blackberry</a></li>
							</ul>
						</div>
					</div>
				</div>
			{/if}
  	</div>
</div>  	


