@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-qmb90h');
	src:url('../fonts/icomoon.eot?#iefix-qmb90h') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-qmb90h') format('woff'),
		url('../fonts/icomoon.ttf?-qmb90h') format('truetype'),
		url('../fonts/icomoon.svg?-qmb90h#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-stack:before {
	content: "\e60f";
}
.icon-location:before {
	content: "\e610";
}
.icon-undo:before {
	content: "\e614";
}
.icon-arrow-right:before {
	content: "\e615";
}
.icon-arrow-left:before {
	content: "\e60c";
}
.icon-grid:before {
	content: "\e611";
}
.icon-mail:before {
	content: "\e601";
}
.icon-user:before {
	content: "\e609";
}
.icon-users:before {
	content: "\e602";
}
.icon-user-add:before {
	content: "\e60b";
}
.icon-star:before {
	content: "\e603";
}
.icon-search:before {
	content: "\e604";
}
.icon-graduation:before {
	content: "\e60a";
}
.icon-lifebuoy:before {
	content: "\e60d";
}
.icon-info:before {
	content: "\e613";
}
.icon-question:before {
	content: "\e600";
}
.icon-layout:before {
	content: "\e605";
}
.icon-arrow-left2:before {
	content: "\e60e";
}
.icon-arrow-down:before {
	content: "\e606";
}
.icon-arrow-down2:before {
	content: "\e612";
}
.icon-twitter:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e608";
}



/*DESKTOP*/

#modulos-mapa, #modulos-reporte {
	margin-bottom:2rem;
}
.form-login h3 {
	margin-bottom:1rem !important;
}
.form-login lable {
	font-size: 0.7rem;
	text-transform: uppercase;
	color: #666;
	padding-bottom:0.5rem !important;
}
.form-login input[type="text"] {
	margin-top:0.5rem;
}
.form-login input[type="password"] {
	margin-top:0.5rem;
}

#member_form h3 {
	margin-bottom:1rem !important;
}
#member_form lable {
	font-size: 0.7rem;
	text-transform: uppercase;
	color: #666;
	padding-bottom:0.5rem !important;
}
#member_form input[type="text"] {
	margin-top:0.5rem;
}
#member_form input[type="password"] {
	margin-top:0.5rem;
}
.procesado {
	margin:0rem;
}
.procesado h3 {
	color:#E83A98;
	margin:0px;
}

.procesado a {
	font-size: 0.9rem;
	color:#999;
}

.procesado a:hover {
	color:#E83A98;
}

.procesado img {
	margin:0 0.8rem;
}

.reporte-mapa {
	position: relative;
	top: -2rem;
	left: -0.7rem;
}
.reporte-mapa li {
	margin: 0px;
}
.reporte-mapa li a div {
	position: relative;
	left: 5px;
	font-weight: 100;
	line-height: 125%;
} 

.reveal-modal {
	background: #FFF;
	padding:0;
	left:69%;
	width:30rem;
}
.acceso-profile {
	margin:0rem 0 -2rem 0 !important;	
}
.acceso-profile p {
	margin: 0rem 0 0.3rem 0;
}
.acceso-profile a {
	font-size: 0.9rem;
	color:#999;
	font-weight: 100;
	margin:0 auto;	
}
.acceso-profile a:hover {
	color:#E83A98;	
}
.form-hecho, .form-login {
	margin:2rem 0 !important;
}

.form-hecho input[type=file] {
	border: 1px solid #CCC;
	padding: 0.5rem;
}

.form-hecho input[type=text] {
}

.form-login .button {
	position:relative;
	top:0;
	left:0;
}

.programa-conductor {
	font-size: 0.8rem !important;
	line-height: 120%;	
}

.comment-text {
	margin-bottom: -5px;
}
.comment-text h6 {
	margin-bottom: 3px;
	text-transform: capitalize !important;
	color:#E0158D;
	font-style: italic;
}
.seccion {
	border-bottom:1px solid #DDD;
	padding:3rem 0;
}

.seccion:last-child {
	border-bottom:none;
}

.mt-37{
  margin-top: 37px !important;
}
.chatea-con-nosotros{
    position: relative !important; 
    bottom: 27px !important;
}
.chatea-con-nosotros {

	background-color: #E3389B;
	margin-bottom: 0rem;
	min-height: 3rem;
	padding: 0rem;
}
.chatea-con-nosotros .button {
	padding: 0.5rem 1rem;
	background-color:#E3389B;
<<<<<<< HEAD
	margin-bottom: -1.1rem;
        position: relative; 
	min-height: 6rem;
        bottom: 27px	
=======
	margin-bottom: -1.1rem; 
	min-height: 6rem;
>>>>>>> 46c7fd1041b1c722d7852574b985a00f66cfa48f
}
.chatea-con-nosotros ul li {
	color: #fff;
	padding-top:1rem;
	padding-left:1rem;
}

.chatea-con-nosotros ul li h4 {
	margin-top: -0.4rem;
	margin-left: 2px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.8rem;
	line-height: 110%;
}

.chatea-con-nosotros ul li h4 span  {
	font-size: 0.7rem;
	font-weight: 100;
	color:#DDD;
	text-transform: capitalize;
}

.chatea-frase {
	background-color: #CCC;
	padding: 0.6rem 1rem 0.2rem 1rem;
	margin-top: 0rem;
}
.chatea-frase ul li a {
	font-size: 0.8rem;
	color:#FFF;
}

.chatea-frase ul li a:hover {
	opacity:0.8;
}

.chatea-frase p {
	font-size: 0.95rem;
}

.chatea-frase p span {
	font-weight: 500;
	font-style: italic;
}


.chatear-opciones-celular {
	margin: 0px 0px 0.5rem -0.95rem;
}

.chatear-opciones-celular li {
	border-right: 1px solid #FFF;
	padding-right: 1rem;
}

.gris {
	background-color: #F7F7F7;
}

.quienes-somos {
	background-color: #EEE;
	padding: 1.6rem 0 1rem 0;
}

.quienes-somos h6 {
	margin-bottom: -1rem;
	font-style: italic;
	color:#999;
}

.quienes-somos div h3 {
	margin-bottom:1rem !important;
	font-size: 1.2rem;
}

.quienes-somos img {
	width: 130px;
}

.eres-un-liderman-bg {
	background-image: url('http://radiourbe.pe/images/basic_images/bg-eresunliderman.png');
	background-position: 50% 20rem;
	background-repeat: no-repeat;
	padding-bottom: 10rem;
}

.eres-un-liderman-bg h3 {
	margin-bottom: 2rem;
	font-weight: 100;
}

.eres-un-liderman-bg .button {
	margin-bottom:10rem
}

.menu-footer { 
	list-style: none;
}

.menu-footer li { 
	font-weight: 100;
	font-size: 0.9rem;
}

.menu-footer li a {
	margin-left:-20px;
}

.footer-list {
	font-size: 0.7rem;
	font-weight: 100;
	margin-left:-15px;
	line-height: 10px;
	margin-top:0.4rem;
}

.footer-list li { 
	border-right: 1px solid #666;
	padding-right:10px;
}

.footer-list li:last-child {
	border-right:none;
}

.footer-list li a { 
	font-weight: 100;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;	
}

.footer-list li a:hover {
	color:#C33182;
} 

.header {
	padding: 2rem 1.25rem 3rem 1.25rem;
}

.header div h3 {
	color:#222;
	font-weight: 300;
}	

.header div h3 span {
	font-size: 65%;
	font-weight: 300;
}

.header div h3 span a {
	color:#f1f1f1;
	font-style: italic;
}

.header div h3 span a {
	color:#777;
}

.una-iniciativa-de {
	font-size: 80%;
	opacity: 0.8;
}

.rojo {
	color:#E83A98 !important;
	font-weight: 100;
	text-transform:uppercase;
}

.rojo-con-linea {
	color:#E83A98 !important;
	font-weight: 500;
	margin:1.25rem 0;
}

.conductor-sigueme-redes .inline-list {
	margin:0rem auto;
}

.conductor-sigueme-redes .inline-list li {
	font-weight: 300;
	padding: 0rem !important;
	margin: 0rem !important;
	border-right:none !important;
}

.pag-programacion { 
	margin-bottom:1.5rem;
}

.pag-programacion h4 {
	color: #D43E8C;
	margin: 0 0 5px 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 105%;
	font-size: 1.2375rem !important;
}

.pag-programacion p {
	margin:0.5rem 0 2rem 0;
	line-height: 125%;
}

.pag-programacion span {
	color: #999;
	font-size: 80%;
	font-weight: 100;
	text-transform: uppercase;
	padding-bottom: 10px;
	line-height: 125%;
}

.pag-programacion span i {
	color: #333;
	font-weight: 300;
	padding-bottom: 10px;
	text-transform: capitalize;
}

.panel h5 { 
	text-transform: uppercase;
	color:#999;
}

.boton-largo {
	width:200px;
}

.lateral-margenes-bajo {
	margin-bottom:1.25rem !important;
}

.margen-derecho {
	margin-right:1rem;
}

.margen-bajo {
	margin-bottom:1rem !important;
}

.carousel {
	margin-top: -2rem;
	background-color: #F7F7F7;
	padding-top: 1rem;
}

programacion, footercontenido {
	padding:1.25rem;
	display:table;
	
}

programacion div {
	padding:1rem;
	border: 1px solid #E7E7E7;
	background-color: #FFF;
	min-height: 275px;
}

programacion h3 {
	color:#333;
	margin: 0 0 1.25rem 0;
	padding:0;
	text-transform: uppercase;
	font-weight: 900;
}

programacion h4 {
	color: #D43E8C;
	margin: 0 0 5px 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 105%;
	font-size: 1.2375rem !important;

}

programacion span {
	color:#333;
	font-size: 80%;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 10px;
	display: table;
}

programacion p {
	color:#333;
	font-weight: 100;
}

programacion p a {
	font-weight: 300;
	font-size: 0.8rem;
}

.contenido {
	background-color: #F1F1F1;
	margin-bottom: 0rem;
}

.contenido .inline-list {
	margin: 1rem auto 0rem auto;
	line-height: 125%;
}

.contenido .inline-list li {
	font-weight: 300;
	border-right:1px solid #CCC;
	padding-right:0.7rem;
	margin-top:0.5rem;
}

.contenido .inline-list li:last-child {
	border-right:none;
}

.contenido .inline-list li a {
	color:#333;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}

.contenido .inline-list li a:hover {
	color:#E0158D;
}

.contenido .inline-list li .activo {
	color:#E0158D;
}

.contenido-panel-derecho {
	padding-right: 2.75rem;
}

.contenido-izquierdo {
	/*margin-top:1.25rem;*/
	/*padding:1.75rem 1.25rem 1.25rem 1.25rem;*/
	/*min-height: 1000px;
	background-color: #F1F1F1;*/
}

.contenido-izquierdo img {
	margin-bottom:1rem;
	width: 100%;
}

.contenido-izquierdo p {
	color:#666;
	font-weight: 300;
}

.contenido-derecho {
	background-color: #FFF;
}

.contenido-derecho h2 {
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 7px !important;
	margin-top: -5px !important;
}

.contenido-derecho h3 {
	text-transform: uppercase;
}	

.imagen-reporte-hecho {
	background-image: url('http://radiourbe.pe/images/eres-liderman/liderman.png');
	background-repeat: no-repeat;
	background-size: 54%;
	background-position: -18rem -2rem;
}

.contenido-titulo-reporte-hecho {
	margin: 2rem 0 0 0;
}

.contenido-titulo-reporte-hecho h2 {
	margin-bottom:0px;
}

.contenido-titulo-reporte-hecho p {
	margin-bottom:2.5rem !important;
}

.contenido-titulo-reporte-hecho .icon-arrow-down {
	font-size: 4rem;
	font-weight: 100;
	color:#CCC;
	width:50px;
	margin:0 auto;
}

.contenido-reporte-hecho .panel {
	background-color: #FFF;
	min-height: 26rem;
	margin-bottom: 1rem;
	border:1px solid #DADADA;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;	
}

.contenido-reporte-hecho .panel:hover {
	background-color:#F7F7F7;
}

.contenido-reporte-hecho .panel img {
	width:100%;
	height:10.5rem;
	border-bottom:1px solid #E0158D;
}

.contenido-reporte-hecho .panel h5 {
	margin: 1rem 0 -0.5rem 0;
	line-height: 100%;
	color: #E0158D;
}

.contenido-reporte-hecho .panel small {
	margin:-0.2rem 0 0 0;
	font-size: 0.7rem;
	font-weight: 100;
	color:#999;
}

.contenido-reporte-hecho .panel p {
	line-height: 120%;
	font-size: 0.8rem;
	margin: 1rem 0 0.3rem 0;
}

.contenido-reporte-hecho .panel .text-right {
	margin-top: 2rem;
	font-size: 0.8rem;
}

.contenido-reporte-hecho .panel .text-right a {
	font-weight: 500;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;	
}
.contenido-reporte-hecho .panel .text-right a:hover {
	color:#C33182;
}

.contenido-hecho-comentario {
	margin: 0;
	padding: 1rem 0 2rem 0;
}
.contenido-hecho-comentario h3 {
	margin:1rem 0;
	text-transform: uppercase;
	color: #E0158D;
}
.contenido-hecho-comentario .hecho-direccion {
	margin:-0.2rem 0 0 0;
	font-size: 0.9rem;
	font-weight: 100;
	color:#999;
}

.contenido-hecho-comentario p {
	line-height: 120%;
	font-size: 1.2rem;
	margin: 1rem 0 0.3rem 0;
}

.contenido-hecho-comentario h6 {
	line-height: 120%;
	font-size: 1.3rem;
	color:#000;
}

.contenido-hecho-comentario .row .panel {
	background-color: #F7F7F7;
	border: 1px solid #F7F7F7;
	box-shadow: 3px 3px #ccc;
}

.menu-salir {
	width: 144px;
	margin: 0rem auto 0 auto;	
}

.menu-salir li {
	border-right:1px solid #CCC;
	margin:0 0.5rem 0 0;
	padding: 0 0.5rem 0 0;
}

.menu-salir li:last-child {
	border-right:none;
}

.menu-salir li a div {
	margin-top:0.21rem;
}

.menu-salir li a {
	color:#999;
	font-size: 0.8rem;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;	
}

.menu-salir li a:hover {
	color:#E0158D;
}

.slide-central {
	background-color: #333;
}

.margen-arriba {
	margin-top: 3.5rem;
}

.lightbox-share {
	position: absolute;
	top: 28rem;
	left: -0.1rem;
	width: 250px;
	height: 33px;
}

.pagination p {
	font-size: 0.9rem;
}

.orbit-slide-number {
	display:none;
}

.orbit-caption span {
	font-size: 55%;
	line-height: 100% !important;
	font-style: italic;
}


.addthis_32x32_style .addthis_counter.addthis_bubble_style {
	width:63px !important;
}

div#at4-share {
	padding-right:0px !important;
}


.footer {
	background-color: #222;
	border-top:1px solid #F1F1F1;
	padding-top:2rem;
}

.nav-secundaria {
	margin-top:0.4rem;
	font-weight: 300;
}

.footer p {
	font-size: 76% !important;
	color: #DDD;
	margin-top: 0rem;
}

.footer h4 {
	color: #FFF;
	font-size: 1rem !important;
	margin-top: -1px;
}

.footer-movimiento {
	margin-left: -15px;
	font-weight: 100;
	font-size: 0.9rem;	
	margin-left:-15px;
	line-height: 110%;
	margin-top:17px;
}

.imagen-noticias {
	margin-bottom: 1.25rem !important;
	background-color: #F7F7F7;
	padding: 1.25rem 1.25rem 0 1.25rem;
	border: 1px solid #E7E7E7;
}

.noticias-fila {
	margin-bottom:1rem !important;
}

.noticias h5 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1rem;
	margin: 0 0 5px 0;
	line-height: 120%;
	color:#000;
}

.noticias p {
	font-size: 0.95rem;
}

.noticias a {
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-top:0.3rem;
}
.acceso-perfil-site {
	margin-bottom:2rem !important;
}
.acceso-perfil-site p {
	margin: 1rem 0 -1rem 0;
}
.acceso-perfil-site a {
	font-size: 0.9rem;
	color:#999;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;	
}
.acceso-perfil-site a:hover {
	color:#E83A98;
}
.comentarios-formulario {
	margin-top:1rem !important;
	margin-bottom:2rem !important;
	border: 1px solid #F5F5F5;
	padding: 1.5rem 0.3rem 0rem 0.3rem !important;
	background-color: #F7F7F7;
	border: 1px solid #F7F7F7;
	box-shadow: 3px 3px #ccc;
}
.comentarios-formulario h5 {
	margin-bottom:1.5rem !important;
	color:#000;
}
.comentarios-formulario label {
	font-size: 0.7rem;
	text-transform: uppercase;
	color: #666;
	padding-bottom: 0rem !important;
}
.comentarios-formulario p {
	font-size: 1rem;
	font-weight: 100;
}
.comentarios-formulario small {
	font-size: 0.8rem;
	font-weight: 100;
}
.comentarios-formulario .button {
	padding: 0.5rem;
	margin-top: 1.2rem;
}

.comentarios-entries{
	list-style: none;
	margin-left:0px;
}
.comentarios-entries li {
	margin-bottom:2rem !important;
	border-bottom:2px solid #F7F7F7;
}
.comentarios-entries ul {
	list-style: none;
	margin-left: 2rem;
}

.comentarios-entries p {
	margin:0px;
}
.comentarios-entries small {
	color:#999;
}
.comentarios-respuestas  p { 
	font-size: 0.9rem;
}
.comentarios-respuestas  small { 
	margin-bottom: 1rem;
}
#comment_form {
	margin-top:1rem;
}
#comment_form .button, #form-arriba .button {
	padding:0.5rem 1rem;
	font-size: 0.8rem;
	font-weight: 100;
}

.titulo-ultimas-noticias h4 {
	margin:1.25rem 0;
	padding-top:2rem !important;
	font-weight: 300;
}

.articulo-ultimas-noticias a {
	font-weight: 300;
	text-transform: uppercase;
}

.todo-noticias {
	margin: -1.3rem 0 2rem 0;
	padding: 0 0 3rem 0;
	border-bottom: 1px solid #E7E7E7;
}

.radio {
	margin: 0rem 0 2rem 0;
	padding: 1rem 0 3rem 0;
	background-color: #fff;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

.carousel h2, .carousel h3,.radio-noticias h2,.radio h3, .todo-noticias h2,.todo-noticias h3 {
	color:#23A2CD;
	margin:1.25rem 0;
	font-weight: 100;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.86);
	text-transform: uppercase;
}

.icono-flecha-abajo {
	margin-top: 0.75rem;
}

.icono {
	margin-top: 1rem;
}

.escuchanos {
	margin-bottom:1rem;
}
.escuchanos-desktop {
	margin:0 0 2rem 0;
}


.orbit-container .orbit-prev {
	background-image: url('../images/basic_images/arrow-left.png');
	background-size:50px 50px;
	background-repeat:no-repeat;
}
.orbit-container .orbit-next {
	background-image: url('../images/basic_images/arrow-right.png');
	background-size:50px 50px;
	background-repeat:no-repeat;
}

.radio-frame {
	width:100%;
	height: 64px;
}

.gray-musica {
	background-color: #23A2CD;
	color:#FFF;
}

.gray-espinsomnio {
	background-color: #CCC;
	color:#FFF;
}

.gray-pop-rock {
	background-color: #266A8E;
	color:#FFF;
}

.gray-liderman {
	background-color: #E0158D;
	color:#FFF;
}

.gray-familia-liderman {
	background-color: #B21278;
	color: #fff;
}

.gray-urbe-tabu {
	background-color: #AAAAAA;
	color:#fff;
}

.gray-musica-fiesta {
	background-color: #555555;
	color:#fff;
}

.gray-sonido-campeon {
	background-color: #5F0940;
	color: #fff;
}

.gray-y-ahora {
	background-color: #193F58;
	color:#fff;
}

.gray-salsa {
	background-color: #888888;
	color: #fff;
}

.gray-mundo-cine {
	background-color: #380528;
	color: #fff;
}

.gray-noticieros {
	background-color: #0C1D2A;
	color: #fff;
}

.gray-clasicos-desayuno {
	background-color: #2B031E;
	color: #fff;
}

.links-plataformas {
	margin:0 0 1.25rem 0;
}

.links-plataformas p {
	font-size: 0.9rem;
	font-weight: 500;
	margin:0px;
}

.links-plataformas ul li a {
	font-size: 0.7rem;
}


/*CAROUSEL*/
.jcarousel-wrapper {
    /*margin: 20px auto;*/
    position: relative;
    /*border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;*/
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 210px;
    float: left;
    /*border: 1px solid #fff;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 45%;
    /*margin-top: -15px;*/
    width: 70px;
    height: 70px;
    text-align: center;
    background: #f04124;
    border-bottom: 3px solid #9C1F10;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font-size: 3.6rem;
    /*font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;*/
    
   -o-transition:color 300ms ease-out, background 100ms ease-in;
   -ms-transition:color 300ms ease-out, background 100ms ease-in;
   -moz-transition:color 300ms ease-out, background 100ms ease-in;
   -webkit-transition:color 300ms ease-out, background 100ms ease-in;
   /* ...and now override with proper CSS property */
   transition:color 300ms ease-out, background 100ms ease-in;
    
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {

	background: #9C1F10;

}

.jcarousel-control-prev {
    left: -7px;
}

.jcarousel-control-next {
    right: -7px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

.boton-opciones {
	padding:9px 10px;
	background-color: #F7F7F7;
	color: #E83A98;
	text-align: center;
	text-transform: uppercase;
	margin-bottom:7px;
	font-size: 12px;
}

.boton-opciones:hover {
	background-color: #E83A98;
	color: #FFF; 
}

.boton-activo {
	background-color: #E83A98 !important;
	color: #FFF !important; 
}

.esconder {
	display:none;
}

/* Small screens*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 
	
	.carousel {
		margin-top: -0.98rem;
	}
	.top-bar {
		height:75px;
	}
	.top-bar .name h1 a {
		padding: 0;
	}
	.contenido-derecho h3 {
		margin-top: 1rem;
		line-height: 100%;
		font-size: 1.3rem;
		font-weight:500 !important;
		margin-bottom:0.3rem
	}
	.contenido-derecho h5 {
		font-weight:100 !important;
	}		
	.contenido-panel-derecho {
		padding: 1.25rem 0.4rem;
	}	
	.carousel h2, .radio-noticias h2, .radio-noticias h3 {
		font-size: 1.4rem;
		margin-top: 1.65rem;
	}	
	.noticias, .imagen-noticias {
		margin-bottom:0px;
	}
	.noticias {
		margin-bottom:0;
	}
	.noticias h5 {
		margin-top: 1.25rem;
	}
	.header div h3 {
		font-size: 100%;
	}

	.inline-list > li {
		width:auto;
	}
	.inline-list > li a {
		text-align: center;
		font-size: 0.9rem;
	}	
	.inline-list {
		margin-left:0px !important;		
	}
	
	.footer p {
		width: 100%;
	}	
	footercontenido {
		width:100%;
	}
	.footer div footercontenido h5 {
		color: #fff;
	}
	.footer h4 {
		text-align: center;
	}
	
	.footer-list, .footer-movimiento {
		line-height: 20px;
	}
	
	.footer-list li {
		border-right:none;
	}
	.addthis_toolbox	 {
		width: auto !important;
		padding-bottom:3rem !important;
	}
	
	.fanpages {
		width: 60%;
		margin: 0 auto;
	}
	.orbit-container .orbit-prev, .orbit-container .orbit-next {
		top: 63%;	
	}
	.orbit-container .orbit-slides-container > * .orbit-caption {
		width:90%;
		left: 5%;
		font-size: 0.9rem;
		line-height: 100%;
	}
	.orbit-container .orbit-prev {
		background-size:25px 25px;
	}
	.orbit-container .orbit-next {
		background-size:25px 25px;
	}	
	.orbit-container .orbit-prev {
		left: 0.2rem;
	}	
	.orbit-container .orbit-next {
		right: -2.4rem;
	}	
	.icono {
		width: 13%;
	}	
	.boton-largo {
		width:100%;
	}
	.top-bar .name h1 {
		line-height: 60px;
	}	
	.top-bar-section ul li > a {
		background-color: #E7E7E7;
		border-bottom: 1px solid #fff;
		text-align: center;
	}	
	.contenido-izquierdo {
		min-height: 200px;
	}	
	.contenido-izquierdo p {
		font-size: 0.8rem;
	}	
	.inline-list > li {
		margin-left:0px;
	}
	.lightbox-share {
		position: relative;
		top: -8rem;
	}
	.inline-list {
		margin: 0 auto !important;
		width:155px;
	}
	
	.chatea-frase {
		margin-bottom:1.25rem;
	}
	
	.chatea-frase ul li {
		float:left;
		width:25%;
		text-align: left;
		border-right:none;
	}	
	.chatea-frase p {
		font-size: 0.75rem;
		margin-top:-0.8rem;
	}
	.eres-un-liderman-bg {
		background: none;
	}
	.eres-un-liderman-bg .button {
		margin-bottom: 2rem;
	}
	.acceso-profile {
		margin: 0rem 0 0 0!important;
		height: 6.5rem;	
	}	
	.acceso-profile p {
		text-align: center;
	}	
	.reporte-mapa {
		position: relative;
		width: 161px;
	}	
	.contenido-movil {
		padding:1rem 0;
	}	
	.contenido-reporte-hecho .panel img {
		width: 100%;
		max-height: 19rem;
		min-height: 10.5rem;	
	}
	.contenido-titulo-reporte-hecho {
		margin:3rem 0 2rem 0;
	}
	.contenido-titulo-reporte-hecho h2 {
		line-height: 100%;
	}
	.contenido-titulo-reporte-hecho p {
		line-height: 120%;
	}
	.reveal-modal {
		width:100%;
		left:32%;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.boton-largo {
		width:100%;
	}
	.navegacion-principal {
		width:100% !important;
		border-top:1px solid #E7E7E7;
		border-bottom:1px solid #E7E7E7;
	}
	.navegacion-principal li {
		width:16.66%;
		text-align: center;
	}	
	.navegacion-principal li a {
		font-size: 0.7rem !important;
	}	
	.navegacion-principal li a:hover {
		color: #E0158D !important;
	}
	.orbit-container .orbit-slides-container > * .orbit-caption {
		font-size: 2rem;
		line-height: 100%;
		bottom:20%;
	}
	.header div h3 {
		font-size: 1.3rem;
	}
	.icono {
		margin-top: 0;
	}	
	programacion h4 {
		font-size: 1rem;;
	}
	programacion p {
		font-size: 0.8rem;
		margin-top:10px;
	}	
	programacion div {
		min-height: 272px;
	}	
	.top-bar-section ul {
		margin-bottom: 2rem;
		margin-top: 0.5rem;
	}
	.contenido {
		position: relative;
		top: -2rem;
	}
	.eres-un-liderman-bg {
		background-position: 50% 18rem;
	}
	.eres-un-liderman-bg h3 {
		margin-bottom: 1rem;
		font-size: 1.3rem;
	}	
	.pag-programacion p {
		margin-top: 0.5rem;
		margin-bottom: 2rem;
	}
	.pag-programacion span i {
		font-weight: 100;
		font-size: 0.7rem;
	}
	.panel h6 {
		font-size: 0.7rem;
	}
	.contenido-derecho h2 {
		margin-bottom: -3px !important;
	}	
	.contenido-derecho h3 {
		margin-top:1rem;
		margin-bottom: 0rem;	
	}
	.contenido-izquierdo img {
		margin-bottom:0;
	}
	.contenido-derecho h2 {
		margin-bottom: 0 !important;
		font-size: 2rem;
		margin-top: 2rem !important;
	}	
	.contenido-derecho h3 {
		margin-top: 1rem;
		font-size: 1.4rem;
		line-height: 125%;
		font-weight: 500 !important;
	}	
	.contenido-derecho h5 {
		margin-top: 0rem;
		margin-bottom: 1rem;
		font-size: 1.1rem;
		line-height: 125%;
		font-weight: 100 !important;
	}		
	.contenido .inline-list li {
		font-weight: 300;
		border-right: 1px solid #CCC;
		padding-right: 0.6rem;
		margin-top: 0.5rem;
		font-size: 0.8rem;
		margin-left: 0.5rem;
	}	
	.noticias h5 {
		line-height: 135%;
	}	
	.noticias p {
		line-height: 130%;
	}
	.noticias a {
		font-size: 0.9rem;
	}
	.medium-margen h6 {
		font-size: 1rem;
	}
	.medium-margen .inline-list {
		margin-left:-1rem !important;
	}
	.todo-noticias h5 {
		line-height: 120% !important;
		color: #E0158D;
		font-size:1.1rem;
	}
	.nav-dispositivos h2 {
		text-transform: uppercase;
		font-size: 1.9rem;
		margin-bottom:0;
	}
	.nav-dispositivos p {
		line-height: 125%;
		margin-bottom:1rem;
		color:#777;
	}	
	.nav-dispositivos .button {
		background-color: #ccc !important;
		border:1px solid #ccc;
		margin-bottom:0.5rem;
	}	
	.box-height-programas {
		min-height: 12rem;
	}
	.acceso-profile {
		margin: -2rem 0 0 0!important;
		height: 12rem;	
	}	
	.reporte-mapa {
		position: relative;
		top: -2rem;
		left: -1.3rem;
		width: 161px;
	}
	.reporte-mapa li a div {
		left: 0px;
	} 	
	.contenido-titulo-reporte-hecho {
		margin-bottom:4rem !important;
	}
	.contenido-reporte-hecho .panel {
		min-height:30rem;
	}
	.contenido-reporte-hecho .panel img {
		max-height: 20rem;
		min-height: 13rem;
	}	
	.contenido-hecho-comentario {
		margin-bottom:4rem;
	}
	.reveal-modal {
		left:59%;
	}
	
	
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
