<!DOCTYPE html>
<html style="height:100%">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gracias</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" href="/css/custom-contra-el-acoso.css">
	<script type="text/javascript" src="//use.typekit.net/yfg8sfb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body style="height:100%">
	<footer id="footer" style="height:100%">
		<div class="row footer-top" style="height:100%">
			<div class="large-6 columns large-centered text-center">
				<div class="footer-first" style="margin-top: 2.5rem;margin-bottom: -1rem;">
						<img src="/images/contra-la-violencia/footer-image.png" alt="">
						<div>
							<span class="orange">Gracias</span> por compartir tu caso y hacer valer tus <span class="orange">derechos</span>
						</div>
				</div>
				<div><a href="http://radiourbe.pe/contra-el-acoso" class="main-button">Volver</a></div>
			</div>
			<div>
				<div class="footer-third" style="position: absolute;width: 100%;bottom: 0;">
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
