{embed="includes/header-contra-la-violencia"} 
<div class="overlay"></div>
<div class="row header">
	<div class="small-12 medium-12 large-12 columns">
		<div class="row">
			<div class="small-12 medium-5 large-4 columns">
				<img src="/images/contra-la-violencia/ministerio.png">
			</div>
			<div class="small-6 columns hide-for-medium-up hide-for-large">
				<img src="/images/contra-la-violencia/peru_progreso.png">
			</div>
			<div class="small-6 columns hide-for-medium-up hide-for-large">
				<img src="/images/contra-la-violencia/programa_nacional.png">
			</div>			
			<div class="small-12 medium-3 large-2 columns hide-for-small">
				<img src="/images/contra-la-violencia/peru_progreso.png">
			</div>
			<div class="small-12 medium-3 large-2 large-offset-4 columns hide-for-small">
				<img src="/images/contra-la-violencia/programa_nacional.png">
			</div>
		</div>
	</div>
</div>

<div class="row contenido">
	<div class="small-12 medium-12 large-12 columns">
		<div class="row">
			<div class="small-5 medium-6 large-8 columns">
				<h1>Estamos para ayudarte,<br>denuncia la violencia</h1>
				<h2>Aprende a prevenir y enfrentar situaciones de <br>violencia familiar y sexual.<br>Atención de 8 am a 10 pm, de lunes a viernes</h2>
			</div>
		</div>
	</div>
</div>

<div class="row logos">
	<div class="small-12 medium-12 large-12 columns hide-for-small">
		<ul class="inline-list">
			<li><a href="http://www.liderman.com.pe/" target="_blank"><img src="/images/contra-la-violencia/liderman_logo.png"></a></li>
			<li><a href="http://radiourbe.pe" target="_blank"><img src="/images/contra-la-violencia/radio_urbe_logo.png"></a></li>
		</ul>
	</div>
	<div class="small-12 columns hide-for-medium-up hide-for-large">
		<a href="http://www.liderman.com.pe/" target="_blank"><img src="/images/contra-la-violencia/liderman_logo.png"></a>
	</div>
	<div class="small-12 columns hide-for-medium-up hide-for-large">
		<a href="http://radiourbe.pe" target="_blank"><img src="/images/contra-la-violencia/radio_urbe_logo.png"></a>
	</div>	
</div>

{embed="includes/footer-contra-la-violencia"} 