 {embed="includes/header"  descripcion="Pásala bien y sé parte de una movida que transformará tu ciudad. " }


<div class="row seccion">
	<div class="small-12 medium-12 large-5 large-centered columns show-for-large-up escuchanos-desktop">
		<h2 class="text-center">ESCÚCHANOS</h2>
	</div>
	<div class="small-12 medium-12 large-11 large-centered columns">
		<div class="row">
			<div class="small-12 medium-7 large-7 columns show-for-large-up  clearfix">	
				<div class="row" >
					<div class="small-6 medium-6 large-2 columns">
						<div class="boton-opciones btn-ifm1">Video</div>
					</div>
					<div class="small-6 medium-6 large-2 columns">
						<div class="boton-opciones btn-ifm2">Audio</div>
					</div>					
					<div class="small-12 medium-12 large-12 columns">	
						<div class="chatea-streaming video">
							<a href="listing.html">
							<iframe scrolling="No" frameborder="0" height="385" src="http://www.wklivehost.info/playersjw/radiourbe/radiourbev2.html" width="100%"> Texto alternativo para navegadores que no aceptan iframes </iframe>
							</a>
						</div>
						<div class="chatea-streaming audio">
							<iframe scrolling="No" frameborder="0" height=“385” src="http://www.wklivehost.info/playersjw/radiourberadio/radiourbeaudio285.html" width="100%"> Texto alternativo para navegadores que no aceptan iframes</iframe>
						</div>						
					</div>
				</div>
			</div>
			

			<!--SOLO SAMLL-DOWN-->
			<div class="small-12 medium-5 large-7 columns show-for-small-only">	
				<div class="row lateral-margenes-bajo ">
					<div class="small-12 medium-12 large-12 columns">
						<div class="row nav-dispositivos">
							<div class="small-12 medium-12 large-12 columns">
								<h2>Escúchanos</h2>
								<p>Selecciona uno de las opciones de la lista y participa de nuestra programación.</p>
							</div>
							<div class="small-6 medium-6 large-2 columns">
								<div class="boton-opciones btn-ifm1">Video</div>
							</div>
							<div class="small-6 medium-6 large-2 columns">
								<div class="boton-opciones btn-ifm2">Audio</div>
							</div>					
							<div class="small-12 medium-12 large-12 columns">	
								<div class="chatea-streaming video">
									<a href="listing.html">
									<iframe scrolling="No" frameborder="0" height="385" src="http://www.wklivehost.info/playersjw/radiourbe/radiourbev2.html" width="100%"> Texto alternativo para navegadores que no aceptan iframes </iframe>
									</a>
								</div>
								<div class="chatea-streaming audio">
									<iframe scrolling="No" frameborder="0" height=“385” src="http://www.wklivehost.info/playersjw/radiourberadio/radiourbeaudio285.html" width="100%"> Texto alternativo para navegadores que no aceptan iframes</iframe>
								</div>						
							</div>							
							<div class="small-12 medium-12 large-12 columns">
								<a href="rtsp://184.154.28.210/radiourberadio/default.stream " class="button expand">Android</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">	
								<a href="http://184.154.28.210:1935/radiourberadio/default.stream/playlist.m3u8" class="button expand">iPhone</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<a href="http://184.154.28.210:1935/radiourberadio/default.stream/playlist.m3u8"  class="button expand">iPad</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<a href="rtsp://184.154.28.210/radiourberadio/default.stream" class="button expand">Blackberry</a>
							</div>
						</div>
					</div>
				</div>
			</div>	

			<!--SOLO MEDIUM-DOWN-->
			<div class="small-12 medium-5 large-7 columns show-for-medium-only">	
				<div class="row lateral-margenes-bajo ">
					<div class="small-12 medium-12 large-12 columns">
						<div class="row nav-dispositivos">
							<div class="small-12 medium-12 large-12 columns">
								<h2>Escúchanos</h2>
								<p>Selecciona uno de las opciones de la lista y participa de nuestra programación.</p>
							</div>					
							<div class="small-12 medium-12 large-12 columns">
								<a href="rtsp://184.154.28.210/radiourberadio/default.stream " class="button expand">Android</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">	
								<a href="http://184.154.28.210:1935/radiourberadio/default.stream/playlist.m3u8" class="button expand">iPhone</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<a href="http://184.154.28.210:1935/radiourberadio/default.stream/playlist.m3u8"  class="button expand">iPad</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<a href="rtsp://184.154.28.210/radiourberadio/default.stream " class="button expand">Blackberry</a>
							</div>
						</div>
					</div>
				</div>
			</div>		
		
			<div class="small-12 medium-7 large-5 columns clearfix">
				{exp:channel:entries channel="programacion" disable="categories|member_data|pagination" dynamic="off" }
					{if al-aire-programa=='Si'}		
						<div class="row mt-37">
							<div class="small-12 medium-12 large-12 columns">
								{imagen_locutor limit="1"}
									<img src="{image:url:medium}" alt="{title}" width="100%">
								{/imagen_locutor}
							</div>
						</div>							
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">	
								<div class="chatea-con-nosotros">
									<ul class="inline-list">
										<li><h4>AHORA EN VIVO<br>{title}<br><span>Con {nombre_programa}</span></h4></li>
										<li class="right">
										{if entry_id!="39"}
										<a href="{site_url}programacion/conductor/{url_title}" class="button secondary margen-derecho">CHATEA EN VIVO</a>
										{/if}
										</li>
									</ul>
							    </div>
							</div>
						</div>	
					{/if}
				{/exp:channel:entries}				
			</div>	
			
						
		</div>
	</div>
</div>


<div class="row seccion quienes-somos">
  <div class="small-12 medium-12 large-12 columns">
  	  <h6 class="text-center">Una iniciativa de</h6>
      {exp:channel:entries channel="quienes-somos" disable="categories|categories_fields|member_data|pagination" dynamic="off"}
	  <h3 class="text-center">	
	  		<img src="{site_url}images/basic_images/Liderman_Logotipo_cs_col_pos.png" title="Liderman"><br>
	  		{homepage_quienes_somos_pagina}
	  </h3>
	  <p class="text-center"><a href="{site_url}quienes-somos">Conoce más de RadioUrbe ›</a></p>
	  {/exp:channel:entries}
  </div>
</div> 


<div class="row seccion eres-un-liderman-bg">
	<div class="small-12 medium-9 medium-centered large-9 large-centered columns">
		<h3 class="text-center rojo">¿Eres Un Liderman?</h3>
		<div class="text-center"><p>Envíanos tus comentarios, consultas y solicitudes a través de nuestro <i>LiderChat</i></p></div>
	</div>
	<div class="small-12 medium-4 medium-centered large-3 large-centered columns">
		<a href="{site_url}eres-un-liderman" class="button expand">PREGUNTALE A LIDERMAN</a>
	</div>
</div>

<!--<div class="row seccion gris">
	<div class="small-12 medium-10 medium-centered large-10 large-centered columns">
		<div class="row">
			<div class="small-12 medium-10 medium-centered large-6 large-centered columns">
				<h3 class="text-center rojo">CONSULTAS A UN OFICIAL</h3>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-5 large-5 columns">
				<img src="{site_url}images/basic_images/pict.jpeg" class="margen-bajo">
				<h4><a href="{site_url}chat-del-ciudadano">Entra al Chat del Ciudadano ⟩</a></h4>
			</div>
			<div class="small-12 medium-7 large-7 columns">
				<p>
				Aquí puedes realizar tus consultas a un Oficial en retiro totalmente capacitado que atenderán en un máximo de  12 horas.
				</p>
				{embed="includes/form-mi-amigo-el-policia}
			</div>
		</div>	
	</div>	
</div>-->


<div class="row seccion gris">
	<div class="small-12 medium-10 medium-centered large-10 large-centered columns">
		<div class="row">
			<div class="small-12 medium-5 large-5 columns">
				<img src="{site_url}img/seguridad-ciudadana-web.jpg">
			</div>
			<div class="small-12 medium-7 large-7 columns">
				<h3 class="text-center rojo">ÚNETE A LA COMUNIDAD QUE REPORTA LOS HECHOS DE INSEGURIDAD EN LA CIUDAD</h3>
				<h5 class="text-center">REGÍSTRATE Y FORMA PARTE DE LA REDURBE.</h5>
				<p class="text-center">Reporta un hecho de inseguridad ciudadana y alerta a tus vecinos de los peligros en tu zona.</p>
				<div class="row">
					<div class="small-12 medium-4 medium-centered large-4 large-centered columns">
						<a href="#" class="button expand" data-reveal-id="ModalRegistro">REGÍSTRATE AHORA</a>
					</div>
				</div>
			</div>			
		</div>	
	</div>	
</div>


<div class="row seccion">
  	<div class="small-12 medium-12 large-12 columns" >
	  	
	  	<div class="row">
		  	<div class="small-centered medium-10 large-8 columns ">
		  		<h3 class="text-center rojo">LOS PROGRAMAS</h3>
		  	</div>	
	  	</div>
	  	<div class="row">
		  	<div class="small-12 medium-12 medium-centered large-10 large-centered columns" >
				{exp:channel:entries channel="programacion" disable="categories|member_data|pagination" dynamic="off" entry_id='not 39'}
				<div class="small-12 medium-4 large-4 columns" >
					<div class="panel clearfix box-height-programas">
			        {imagen_locutor}	
				    	<p class="text-center"><a href="{site_url}programacion/conductor/{url_title}"><img src="{image:url:small}" alt="{image:title}"></a></p>
				    {/imagen_locutor}
						<h6 class="text-center"><a href="{site_url}programacion/conductor/{url_title}">{title}</a></h6>
						<p class="text-center programa-conductor">{nombre_programa}</p>
					</div>
				</div>
				{/exp:channel:entries}	
		  	</div>
	  	</div>
	  	
  	</div>
</div>




{embed="includes/footer"}