
{embed="includes/header" descripcion="Conoce la programación de RadioUrbe" titulo="Programación"}

<div class="row contenido">	
	<div class="small-12 medium-12 large-5 columns contenido-izquierdo show-for-large-up">
		<div class="panel">
			{exp:channel:entries channel="pagina_programacion" disable="categories|member_data|pagination" dynamic="off" }
				{imagen-eres-pagina}
					<img src="{image:url:medium}">
				{/imagen-eres-pagina}
					
				{embed="includes/share-buttons"}
			{/exp:channel:entries}		
		</div>
	</div>	
	
	<div class="small-12 medium-12 large-7 columns contenido-derecho">
		<div class="panel">
		
			<div class="show-for-medium-only">
			{embed="includes/share-buttons"}			
			</div>		
		
			<h2>Programación</h2>
			<p>Conoce la programación de RadioUrbe</p><br>
			
			
			{exp:channel:entries channel="programacion" disable="categories|member_data|pagination" dynamic="off" entry_id="not 39" }
			<div class="pag-programacion">
				<h4><a href="{site_url}programacion/conductor/{url_title}">{title}</a></h4>
				<span>{nombre_programa}<br><i>{horario-programa}</i></span>
				<p>{introduccion_programa}</p>
			</div>	
			{/exp:channel:entries}
						
		</div>
	</div>		
</div>



{embed="includes/footer"}