{embed="includes/header"}

<div class="row todo-noticias">
	<div class="small-centered medium-8 large-8 columns">
	  	    <div class="small-centered medium-12 large-12 columns clearfix">
	  			<h3 class="text-center">
		  			<img src="{site_url}images/basic_images/icono-noticias-radio-urbe.png"  class="icono"><br>
		  			ARCHIVO DE "{last_segment_category_name}"
	  			</h3>
	  	    </div>	
	  		{exp:channel:entries channel="noticias" disable="member_data" orderby="date" sort="DESC" limit="10" category="{last_segment_category_id}" dynamic="off"}	  		
		  	<div class="row imagen-noticias">
			  	<div class="small-12 medium-3 large-3 columns clearfix margen-bajo">
				{if video-noticia}
				
					<a href="{site_url}noticias/articulo/{url_title}"><img src="http://img.youtube.com/vi/{video-noticia}/0.jpg" width="100%"></a>
				
				{if:else}
					{imagen-noticia limit="1"}
					<a href="{site_url}noticias/articulo/{url_title}"><img src="{image:url:small}"></a>
					{/imagen-noticia}
				{/if}
			  	</div>
			  	<div class="small-12 medium-9 large-9 columns noticias">
			  		<h5><a href="{site_url}noticias/articulo/{url_title}">{title}</a></h5>
			  		<p>{if descripcion-noticia}{descripcion-noticia}<br>{/if}<a href="{site_url}noticias/articulo/{url_title}">Leer más ›</a></p>
			  	</div>  
		  	</div>
		  	
		  	<div class="row">
		  		<div class="small-12 medium-4 large-4 large-centered columns">
					{paginate}
					  {pagination_links}
					    <ul class="inline-list">
					      {first_page}
					        <li><a href="{pagination_url}" >Primera página</a></li>
					      {/first_page}
					
					      {previous_page}
					        <li><a href="{pagination_url}">Anterior</a></li>
					      {/previous_page}
					
					      {page}
					        <li><a href="{pagination_url}" class="{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
					      {/page}
					
					      {next_page}
					        <li><a href="{pagination_url}" >Siguiente</a></li>
					      {/next_page}
					
					      {last_page}
					        <li><a href="{pagination_url}">Última página</a></li>
					      {/last_page}
					    </ul>
					  {/pagination_links}
					{/paginate}

		  		</div>
		  	</div>
		  	
		  	{/exp:channel:entries}	 	
	</div>
</div>

{embed="includes/footer"}